:root {
  -webkit-font-smoothing: antialiased;
  transition: background 0.35s;
  --background: 0 0% 100%;
  --card: 0 0% 100%;
  --popover: 0 0% 100%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --page-background: 0 0% 100%;
  --color-brand-hex: #000;
}

* {
  border-color: hsl(var(--border));
}

:root.dark {
  --background: 20 14.3% 4.1%;
  --card: 20 14.3% 4.1%;
  --popover: 20 14.3% 4.1%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --page-background: 0 0% 0%;
  --color-brand-hex: #ec4c22;
}

:root {
  background: hsl(var(--page-background));
}

.page::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100vh;
  z-index: 2;
  opacity: 20%;
  background: #000000;
  filter: url(#noiseFilter);
  pointer-events: none;
}

.tp-dfwv {
  z-index: 50;
}
